/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
/* styles.css */
.is-recording {
    color: red;
    font-weight: bold;
}

/* Add styles for the canvas */
canvas {
    display: block;
    width: 100%;
    height: 50px;
}
